- breadcrumb :assignment, @assignment

= render "nav_tabs"

- unless @assignment.description.blank?
  = panel title: Assignment.human_attribute_name(:description), context: :primary do
    .panel-body
      = @assignment.description
