%h4 Input
%pre
  %b= test_result.program_input
.row
  .col-md-6
    %h4 Expected Output
    %pre
      %b= test_result.expected_program_output
  .col-md-6
    %h4 Actual Output
    %pre
      %b= test_result.result_log
