= panel title: test_result.title, context: test_result.panel_context do
  .panel-body
    - unless test_result.public
      = alert_box do
        %b Private Test
        %br
        This test was marked private by the instructor. Test results are therefore not viewable by students.
    - if current_user.instructor? test_result.submission.assignment.course
      = render "test_results/panel_body_#{test_result.type.underscore}", test_result: test_result
