%hr
%footer#footer
  .container
    .row
      .col-xs-6
        %h4 AlphaGrader
      .col-xs-6.text-right
        %small= link_to 'Contact', 'mailto:ruben+alphagrader@fireservicerota.com'
        |
        %small.copyright
          AlphaGrader, Copyright &copy; #{ Date.today.year }
